name: PUSHING TO DOCKERHUB

on:
  push:
    branches: [main]

jobs: 
  deploy: 
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v3
      - run: docker build -t nickskiejoi/github-actions .
      - run: echo dckr_pat_uFdr1bm6_APR1xidik20ZaKMHqM | docker login -u nickskiejoi --password stdin
      - run: docker docker push nickskiejoi/github-actions
